*{
    padding: 0;
    margin: 0;
}

nav{
    background-color: rgb(0, 0, 0);
    padding: 5px;
    color: white;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#menu-btn{
    padding-top: 15px;
    padding-right: 10px;
    cursor: pointer;
}

.nav-menu a{
    cursor: pointer;
}
.nav-menu .hide-on-mobile:hover{
    background-color: yellow;
 }

nav li{
    height: 40px;
}

nav a{
    height: 100%;
    padding: 4px 30px;
    display: flex;
    align-items: center;

}

nav li:first-child{
    margin-right: auto;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 370px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.318);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 1s ease, transform 1s ease;
}

.sidebar.show{
    display: flex;
    opacity: 1;
    transform: translateX(0);
    /* color: black; */
    cursor: pointer;
}

.sidebar li{
    width: 80%;
    height: 50px;
}

.sidebar .sidebar-menu{
    color: black;
    cursor: pointer;
}

.sidebar .sidebar-menu:hover{
    opacity: 0.7;
}

#close-btn{
    padding-left: 64px;
    padding-top: 15px;
    cursor: pointer;
}

#container{
    height: 100vh;
}

#container div{
    box-sizing: border-box;
}

#container h1 {
color: red;
padding: 30px;
text-align: center;
}

#container p {
    
padding-left: 20px;
}

form{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

footer{
    padding: 20px;
    background-color: rgb(90, 90, 90);
    color: white;
}

@media (max-width: 600px){
    .hide-on-mobile{
        display: none;
    }

    .show-sidebar{
        width: 100%;
    }
}

@media(min-width: 600px){
        #menu-btn{
            display: none;
        }
}